* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app-wrapper {
  height: 100vh;
  width: 100%;
  background: gainsboro;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: url('../public/expired-background.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.content-container {
  margin: 50px auto;
  background: white;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 12px 40px;
  box-shadow: 4px 8px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.buttons-container {
  margin: 20px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.action-button {
  padding: 8px;
  border: 1px solid gainsboro;
  border-radius: 6px;
  margin-right: 10px;
  transition: all 0.5 ease-in-out;
  white-space: nowrap;
}

.action-button:hover {
  cursor: pointer;
  border-color: #7a4bff;
  box-shadow: 1px 1px 2px rgba(36, 36, 80, 0.3);
}

.disabled {
  opacity: 0.5;
}

.disabled:hover {
  cursor: not-allowed;
  border-color: gainsboro;
  box-shadow: none;
}

svg {
  margin-right: 4px;
}

.upload-stats-container {
  margin: 10px, 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.ant-upload-list {
  display: none;
}

.ant-progress {
  width: 100%;
}

.ant-progress-bg {
  width: 100%;
  border-radius: 20px;
}
